.maingrid {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 766px) {
  .listview-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 3rem;
    margin-bottom: 6rem;
    padding: 2rem;
  }
}

.grid-btn {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 3px;
  padding: 2em 0 4em;
}

.event-btn {
  padding-left: 5vw;
  padding-right: 5vw;
}

.hero-container {
  position: relative;
  width: fit-content; /* Set the width of the container to fit its contents */
}

.title {
  position: absolute;
  top: 35%; /* Position the title vertically centered */
  left: 50%; /* Position the title horizontally centered */
  transform: translate(
    -50%,
    -50%
  ); /* Move the title up and left by half of its width and height */
  z-index: 1; /* Ensure the title appears above the image */
  font-size: 5vw;
}

img {
  width: 100%;
}

@media (max-width: 766px) {
  .listview-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 10vw;
    margin: 0 0 6rem;
  }
}
