---
import Filter from "../components/Filter.astro";
import Card from "../components/Card.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
import "../styles/listview.css";
import "../styles/global.css";

const items = await fetch(
  "https://txcxsnasevoytrplgpun.supabase.co/rest/v1/data",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4Y3hzbmFzZXZveXRycGxncHVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTMzMDgsImV4cCI6MjAyNjA2OTMwOH0.AJ0YE8S2nFHTBadk6TNC8bNfgrftJoHZbDx2N57P83A",
    },
  }
).then((res) => res.json());
---

<Mainlayout>
  <section class="maingrid">
    <div class="hero-container">
      <img src="/img/program-img.png" alt="man der kigger på lysshow" />
      <h1 class="title">Program</h1>
    </div>
    <div class="grid-btn">
      <a href="/installations/#overview">
        <button class="event-btn" id="overview"> Installationer</button>
      </a>
      <a href="/events/#overview">
        <button class="event-btn"> Events</button>
      </a>
      <a href="/guidedtour/#overview">
        <button class="event-btn"> Guidede ture </button>
      </a>
    </div>
    <section class="listview-grid">
      {
        //For hver ITEM indeni array'et "items", så returnerer vi et Card med et enkelt ITEM som prop.
        items.map((item) => {
          if (item.tag === "Event") {
            return <Card item={item} />;
          }
        })
      }
    </section>
  </section>
</Mainlayout>
