---
import "../styles/global.css";
import SecondaryButtons from "../components/SecondaryButtons.astro";
import PrimaryButton from "../components/PrimaryButton.astro";
import Newsletter from "../components/Newsletter.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import IndexImg from "../components/IndexImg.astro";
import Mainsponsors from "../components/Mainsponsors.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
---

<Mainlayout title="Forside">
  <header>
    <img
    src="/CLF11/img/11-The-Wave-scaled.webp"
    alt="Blå rød lysinstallation i form af trekanter med tilskuer"
    />
    <h1>2. - 25. FEBRUAR 2024</h1>
    <div class="primary-grid-container">
      <div class="primary-btn-container">
        <PrimaryButton>PROGRAM</PrimaryButton>
        <PrimaryButton>SE KORT</PrimaryButton>
      </div>
    </div>
  </header>
      <section>
        <article>
          <h2>INTERAKTIVE LYSOPLEVELSER</h2>
          <p>
            Copenhagen Light Festival er en årligt tilbagevendende festival for
            lys, der transformerer det stille og kolde vintermørke til en særlig
            fejring af lyskunst, lysdesign og lysende oplevelser midt i
            København. I løbet af tre uger i februar præsenterer festivalen et
            bredt udvalg af lysbaserede værker – heriblandt skulptur,
            installation, projektion, event og belysning skabt af både
            etablerede og spirende lysdesignere, lyskunstnere, studerende og
            organisationer.
          </p>
          <div class="secondary-btn-container">
            <SecondaryButtons variant="/CLF11/listview">LÆS MERE</SecondaryButtons>
          </div>
        </article>
        <div>
          <IndexImg
            src={"/CLF11/img/40.-Flaekkens-Lys3-Foto-Kim-Hoeltermand-1-e1706021244914-853x551.webp"}
          />
        </div>
      </section>
      <div class="Newsletter">
        <Newsletter />
      </div>
      <section>
        <div>
          <IndexImg src={"/CLF11/img/03.-PiXLEarth-3-scaled.webp"} />
        </div>
        <article>
          <h2>ARRANGERMENTER</h2>
          <p>
            Copenhagen Light Festival er en årligt tilbagevendende festival for
            lys, der transformerer det stille og kolde vintermørke til en særlig
            fejring af lyskunst, lysdesign og lysende oplevelser midt i
            København. I løbet af tre uger i februar præsenterer festivalen et
            bredt udvalg af lysbaserede værker – heriblandt skulptur,
            installation, projektion, event og belysning skabt af både
            etablerede og spirende lysdesignere, lyskunstnere, studerende og
            organisationer.
          </p>
          <div class="secondary-btn-container">
            <SecondaryButtons variant="/CLF11/listview">LÆS MERE</SecondaryButtons>
          </div>
        </article>
      </section>
      <section class="sponsors">
        <Mainsponsors />
        <div class="sponsors-btn">
          <SecondaryButtons>SE ØVRIGE</SecondaryButtons>
        </div>
      </section>
    </div>
</Mainlayout>

<style>
  @media only screen and (min-width: 646px) {
    header {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: 1fr auto 1fr;
    }
    .nav {
      grid-column: 1/4;
      grid-row: 1;
      z-index: 1;
    }
    h1 {
      grid-column: 1/4;
      grid-row: 2;
      z-index: 1;
      padding-left: 54px;
      padding-bottom: 1%;
    }
    img {
      width: 100%;
      object-fit: cover;
      place-self: stretch;
      grid-row: 1/4;
      grid-column: 1/4;
      position: relative;
      opacity: 75%;
      box-shadow: 0px 80px 200px rgba(35, 52, 231, 0.4);
      top: -24%;
      z-index: -5;
    }
    main {
      margin: 0 0 24% 0;
      padding: 0;
    }

    body {
      background-size: contain;
    }
    .primary-grid-container {
      grid-column: 1;
      grid-row: 3;
      padding-left: 54px;
    }
    .primary-btn-container {
      display: grid;
      grid-template-columns: 20em 20em;
      grid-template-rows: 80px;
    }
    .secondary-btn-container {
      display: flex;
      justify-content: flex-end;
      margin-top: 16%;
    }
    section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0% 54px 0% 54px;
    }
    article {
      padding: 0% 4% 0% 54px;
    }
    .footer {
      background:
        radial-gradient(
          70.2% 173.84% at 50.03% 95.39%,
          rgba(141, 103, 251, 0.35) 0%,
          rgba(102, 102, 102, 0) 100%
        ),
        rgba(211, 211, 211, 0) -200.115px 98.15px / 7% 4.994% no-repeat;
    }
    .sponsors {
      padding: 16% 0 0 0;
      display: grid;
      justify-content: center;
    }
    .sponsors-btn {
      margin: 4% 0 4% 0;
      display: flex;
      justify-content: end;
    }
  }
  @media only screen and (min-width:560px){
    .primary-grid-container {
      grid-column: 1;
      grid-row: 3;
    }
    .primary-btn-container {
      display: grid;
      grid-template-columns: 19em 15em;
      grid-template-rows: 70px;
    }
    .secondary-btn-container {
      display: flex;
      justify-content: flex-end;
      margin-top: 16%;
    }
  }
  @media only screen and (max-width: 646px) {
    header {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: 1fr auto 1fr;
    }
    .nav {
      grid-column: 1/4;
      grid-row: 1;
      z-index: 2;
    }
    h1 {
      grid-column: 1/4;
      grid-row: 2;
      z-index: 1;
      padding-left: 54px;
      padding-bottom: 1%;
    }
    img {
      width: 100%;
      object-fit: cover;
      place-self: stretch;
      grid-row: 1/4;
      grid-column: 1/4;
      position: relative;
      top: -24%;
      opacity: 75%;
      box-shadow: 0px 80px 200px rgba(35, 52, 231, 0.4);
      z-index: -5;
    }
    main {
      margin: 0 0 24% 0;
      padding: 0;
    }

    body {
      background-size: contain;
    }
    .primary-grid-container {
      grid-column: 1;
      grid-row: 3;
      padding-left: 6%;
    }
    .primary-btn-container {
      display: grid;
      grid-template-columns: 50vw 40vw;
      grid-template-rows: 70px;
    }
    .secondary-btn-container {
      display: flex;
      justify-content: flex-end;
      margin-top: 16%;
    }
    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    article {
      padding: 0% 54px 0% 54px;
    }
    .footer {
      background:
        radial-gradient(
          70.2% 173.84% at 50.03% 95.39%,
          rgba(141, 103, 251, 0.35) 0%,
          rgba(102, 102, 102, 0) 100%
        ),
        rgba(211, 211, 211, 0) -200.115px 98.15px / 7% 4.994% no-repeat;
    }
    .sponsors {
      padding: 16% 0 0 0;
      display: grid;
      justify-content: center;
    }
    .sponsors-btn {
      margin: 4% 0 12% 0;
      display: flex;
      justify-content: end;
    }
  }
</style>
