---
import "../styles/global.css"
import SecondaryButtons from "../components/SecondaryButtons.astro"
import PrimaryButton from "../components/PrimaryButton.astro"
import Newsletter from "../components/Newsletter.astro"
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://use.typekit.net/grc8wfo.css">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<Navigation></Navigation>
		</header>
		<PrimaryButton>PROGRAM</PrimaryButton>
		<PrimaryButton>SE KORT</PrimaryButton>
		<Newsletter />
    <Footer />
	</body>
</html>
