---
import Card from "../components/Card.astro" 

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main>
		    <Card 
            img="https://copenhagenlightfestival.org/wp-content/uploads/2024/02/Stromma-baad-1.jpg"
            title="Liveguidet kanalrundfart langs kunstværkerne"
            description="Oplev de spændende lysskulpturer og installationer ombord på kanalrundfarten på vores specialdesignede Lysfestival-ture."
            label="Guidede tur"
            />
            <br>
             <Card 
            img="https://copenhagenlightfestival.org/wp-content/uploads/2024/02/01.-Du-som-er-i-Himlene-scaled.jpg"
            title="01. Du som er i Himlene!"
            description="Værket skaber en forbindelse mellem jorden under os og himmelen over os. Mellem det fysiske og det åndelige. Overgivelse til noget, som er højere end os. Et sted, hvor man kan forbinde sig til det, man tror på."
            label="Event"
            />
		</main>
	</body>
</html>
