---
import Card from "../components/Card.astro";
import Filter from "../components/Filter.astro";

import Mainlayout from "../layouts/Mainlayout.astro";
import "../styles/global.css";
import "../styles/listview.css";

const items = await fetch(
  "https://txcxsnasevoytrplgpun.supabase.co/rest/v1/data",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4Y3hzbmFzZXZveXRycGxncHVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTMzMDgsImV4cCI6MjAyNjA2OTMwOH0.AJ0YE8S2nFHTBadk6TNC8bNfgrftJoHZbDx2N57P83A",
    },
  }
).then((res) => res.json());
---

<Mainlayout>
  <section class="maingrid">
    <div class="hero-container">
      <img
        src="../../public/img/program-img.png"
        alt="man der kigger på lysshow"
      />
      <h1 class="title">Program</h1>
    </div>
    <div class="grid-btn">
      <a href="/CLF11/installations/#overview">
        <Filter variant="passive" position="left">Installationer</Filter>
      </a>
      <a href="/CLF11/events">
        <Filter variant="passive" position="middle">Event</Filter>
      </a>
      <a href="/CLF11/guidedtour">
        <Filter variant="passive" position="right">Guidede ture</Filter>
      </a>
    </div>
  </section>
  <div class="listview-grid">
    {
      //For hver ITEM indeni array'et "items", så returnerer vi et Card med et enkelt ITEM som prop.
      items.map((item) => {
        return <Card item={item} />;
      })
    }
  </div>
</Mainlayout>

<style></style>
