---

---

<div>
  <section><a href="/listview">Program</a></section>
  <section>/</section>
  <section><a href="#">Filternavn</a></section>
  <section>/</section>
  <section>Singleview</section>
</div>

<style>
  a,
  section {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline 0.5px;
    text-underline-offset: 4px;
  }

  div {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }
</style>

<script></script>
