---
import Lang from "./Lang.astro";
---

<section class="lang-menu">
  <Lang />
  <div class="burgermenu">
    <p>MENU</p>
    <div class="menu-btn">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <nav class="globalmenu">
    <ul class="navigation">
      <li>
        <ul class="navi">
          <li class="nav-title">festival</li>
          <li><a href="#">Festival</a></li>
          <li><a href="/CLF11/listview">Program</a></li>
          <li><a href="#">Foto konkurrence</a></li>
          <li><a href="#">Tidligere festivaler</a></li>
        </ul>
      </li>
      <li>
        <ul class="navi">
          <li class="nav-title">information</li>
          <li><a href="#">Permanente installationer</a></li>
          <li><a href="#">For kunstnere</a></li>
          <li><a href="#">Bliv vært</a></li>
          <li><a href="#">Bliv sponsor</a></li>
        </ul>
      </li>
      <li>
        <ul class="navi">
          <li class="nav-title">om</li>
          <li><a href="#">Hvem er vi</a></li>
          <li><a href="#">Kontakt</a></li>
          <li><a href="#">Sponsorer</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</section>

<style>
  /* grid area for header placement */
  nav {
    padding: 0 0 0 15vw;
  }

  li {
    z-index: 99;
  }
  .lang-menu {
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    justify-content: end;
  }

  /* burgermenu area */
  .burgermenu {
    display: inline-flex;
    align-items: center;
    grid-column: 2/-1;
    text-align: end;
    justify-content: end;
    gap: 1em;
  }
  .menu-btn {
    width: 44px;
    height: 32px;
    position: relative;
    overflow: hidden;
    z-index: 99;
  }

  .menu-btn:hover {
    cursor: pointer;
  }

  .line {
    background-color: white;
    width: 32px;
    height: 1.2px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
  }

  .line:nth-of-type(2) {
    top: calc(50% - 9px);
  }
  .line:nth-of-type(3) {
    top: calc(50% + 9px);
  }

  .menu-btn.active {
    position: fixed;
  }
  /* when menu is open  */
  .menu-btn.active .line:nth-of-type(1) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }

  .menu-btn.active .line:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }

  .menu-btn.active .line:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }

  /* Actual menu that appears  */
  .globalmenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-menu);
    z-index: 2;

    transform: translateY(-100%);
    transition: transform 0.5s;
  }

  .globalmenu.active {
    transform: translateX(0);
  }

  /* Menu list styling  */
  @media only screen and (min-width: 646px) {
    ul {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    ul li ul {
      display: grid;
      grid-template-columns: 1fr;
      position: absolute;
      top: 30%;
    }
  }

  .nav-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1e2045;
    text-transform: uppercase;
  }

  li a {
    text-decoration: none;
    letter-spacing: 0.72px;
    color: var(--text-color);
    font-size: 1rem;
  }

  ul li  {
    padding: 15px 0 4px;
  }

  li a:hover {
    text-decoration: underline 0.5px;
    text-underline-offset: 4px;
  }

  @media only screen and (max-width: 646px) {
    nav {
      padding: 0 20vw;
      min-width: 332px;
    }
    .burgermenu p {
      display: none;
    }
    a {
      font-size: 0.9rem;
    }

    /* Menu list styling  */
    ul li {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 15px 0 4px;
    }
  }
</style>

<script>
  // use this code for activating the global-menu
  let menuBtn = document.querySelector(".menu-btn");
  let globalMenu = document.querySelector(".globalmenu");
  let menuLink = document.querySelector(".nav-link");

  menuBtn.addEventListener("click", function () {
    menuBtn.classList.toggle("active");
    globalMenu.classList.toggle("active");
  });
</script>
