---
const { item } = Astro.props;
import Label from "./Label.astro";
import SecondaryButtons from "./SecondaryButtons.astro";
---

<article class="card">
  <a href={`program/${item.slug}`}>
    <div class="image-container">
      <img src={item.image} alt="" />
    </div>
    <div class="container">
      <Label text={item.tag} />
      <h3>{(item.number ? item.number + " " : "") + item.title}</h3>
      <p class={item.description.length > 300 ? "desc-small" : "desc"}>
        {item.description}
      </p>
      <div class="button-container">
        <SecondaryButtons />
      </div>
    </div>
  </a>
</article>

<style>
  .card {
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 37, 37);
    padding-bottom: 2vw;
    width: 22vw;
    border-radius: 25px;
    color: var(--text-color);
    font-family: "noto-sans", sans-serif;
    padding-bottom: 2vw;
    overflow: hidden;
    cursor: pointer;
    position: relative;
  }

  .button-container {
    position: absolute; /* virker kun fordi card er position: relative, og button-container er indeni. */
    bottom: 3vh;
    right: 1vw;
  }

  .image-container {
    position: relative;
    overflow: hidden;
    height: 100%;
  }

  img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-radius: 25px;
  }
  p {
    font-family: "noto-sans", sans-serif;
    font-weight: 100;
  }
  .desc {
    font-weight: 100;
    font-size: 0.9vw;
    line-height: 150%;
  }

  .desc-small {
    font-weight: 100;
    font-size: 0.75vw;
    line-height: 150%;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: lighter;
    row-gap: 0;
    font-family: "noto-sans", sans-serif;
    font-weight: lighter;
    margin-bottom: 4vw;
  }

  .container {
    padding: 0 1.3vw;
  }

  h3 {
    font-family: "noto-sans", sans-serif;
    font-weight: lighter;
    font-size: 1.4vw;
    margin: 0;
  }

  .card:hover {
    .arrow {
      left: 16%;
      transition-duration: 0.2s;
      flex-shrink: 0;
    }
  }

  @media (max-width: 700px) {
    .card {
      display: flex;
      flex-direction: column;
      background-color: rgb(37, 37, 37);
      padding-bottom: 2vw;
      width: 40vw;
      border-radius: 25px;
      color: var(--text-color);
      font-family: "noto-sans", sans-serif;
      padding-bottom: 2vw;
      overflow: hidden;
      cursor: pointer;
      position: relative;
    }

    .container {
      padding: 0 4vw;
    }

    h3 {
      font-family: "noto-sans", sans-serif;
      font-weight: lighter;
      font-size: 2.5vw;
      margin: 0;
    }
    .desc {
      font-weight: 100;
      font-size: 2vw;
    }

    .desc-small {
      font-weight: 100;
      font-size: 1.6vw;
    }
    img {
      width: 100%;
      height: 25vw;
      object-fit: cover;
      border-radius: 25px;
    }
  }
</style>
