---
const { variant, position, id } = Astro.props;
---

<button class={variant + " " + position}><slot /></button>

<style>
  button {
    width: 15vw;
    border-style: none;
    font-family: "noto-sans" "sans serif";
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.72px;
    color: var(--text-color);
    padding: 0.5vw 1vw 0.5vw 1vw;
  }

  /*placering*/

  .right {
    border-top-right-radius: 27.36px;
    border-bottom-right-radius: 27.36px;
  }

  .middle {
    border: 5px;
  }

  .left {
    border-top-left-radius: 27.36px;
    border-bottom-left-radius: 27.36px;
  }

  /*variant*/

  .active {
    background-color: var(--tertiaryActive-color);
  }
  .passive {
    background-color: var(--tertiary-color);
  }

  @media screen and (max-width: 800px) {
    button {
      width: 20vw;
      font-size: 1.7vw;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.72px;
      color: var(--text-color);
      padding: 0.5vw 1vw 0.5vw 1vw;
    }
  }

  @media screen and (max-width: 550px) {
    button {
      width: 20vw;
      font-size: 2.5vw;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.72px;
      color: var(--text-color);
      padding: 0.8vw 1.5vw 0.8vw 1.5vw;
    }
  }
</style>
