---
import SoMe from "../components/SoMe.astro";
---

<article class="footer">
  <div class="line"></div>
  <div class="grid_1_1_1">
    <div>
      <ul>
        <li><a href="/">Presse og medier</a></li>
        <li><a href="/">FAQ</a></li>
        <li><a href="/">Personoplysninger</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a href="/">Kontakt os</a></li>
        <li>info@copenhagenlightfestival.org</li>
        <li>+45 25 55 66 04</li>
      </ul>
    </div>
    <div class="footer_content">
      <SoMe>
        <a href="https://www.facebook.com/cphlightfest/"
          ><img src="../public/some-icons/facebook.svg" alt="" /></a
        >
        <a
          href="https://www.youtube.com/channel/UCLxM8I3HMXuXYLtcssa4pdA/videos"
          ><img src="../public/some-icons/youtube.svg" alt="" /></a
        >
        <a href="https://www.instagram.com/cphlightfest/?hl=da"
          ><img src="../public/some-icons/instagram.svg" alt="" /></a
        >
      </SoMe>
    </div>
    <div class="company_name">@Copenhagen Light Festival</div>
  </div>
</article>

<style>
  
  li,
  a,
  .company_name {
    font-family: "noto-sans" "sans serif";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.72px;
    color: var(--text-color);
    list-style: none;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .line {
    height: 2px;
    margin-bottom: 2rem;
    background-color: var(--text-color);
  }

  .grid_1_1_1 {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
  }

  .company_name {
    opacity: 0.5;
    text-transform: uppercase;
    grid-column: span 1/-1;
    text-align: end;
    grid-row: 2;
  }

  .footer_content {
    text-align: right;
  }
</style>
