---
const { src } = Astro.props;
---

<section>
  <img src={src} alt="A description of my image." />
  <div class="border1"></div>
  <div class="border2"></div>
</section>

<style>
  body {
    background-image: url("../img/grain-bg.svg");
    background-size: cover;
  }
  section {
    position: relative;
  }
  img {
    position: absolute;
    width: 100%;
    border-radius: 30px;
    z-index: 1;
    left: 64px;
    top: 0px;
  }
  .border1 {
    position: absolute;
    border: 4px solid var(--secondary-color);
    width: 640px;
    height: 427px;
    border-radius: 30px;
    z-index: 0;
    left: 96px;
    top: 32px;
  }
  .border2 {
    position: absolute;
    border: 4px solid var(--secondary-color);
    width: 640px;
    height: 427px;
    border-radius: 30px;
    z-index: 0;
    left: 32px;
    top: -32px;
  }
</style>
