---
const { text } = Astro.props;
---

<h2 class="label">{text}</h2>

<style>
  .label {
    display: inline-block;
    padding: 2px 8px 2px 8px;
    border-radius: 25px;
    max-width: fit-content;
    background-color: var(--tertiary-color);
    color: var(--text-color);
    filter: brightness(100%) blur(10px)
      drop-shadow(0 0 10px var(--tertiary-color) (255, 255, 255, 0.8));
    box-shadow: 0 0 10px rgba(183, 2, 249, 0.8);
    font-size: 0.6vw;
    font-weight: 100;
    font-family: "noto-sans", sans-serif;
    margin-top: 1.5vw;
    margin-bottom: 1.2vw;
  }

  @media (max-width: 700px) {
    .label {
      font-size: 1.2vw;
    }
  }
</style>
