---

---

<article class="grid">
  <a href="https://www.kk.dk/">
    <img src="../public/sponsors/kbh_kommune.svg" alt="" /></a
  >
  <a href="https://www.stromma.com/da-dk/kobenhavn/"
    ><img src="../public/sponsors/stromma.svg" alt="" /></a
  >
  <a href="https://www.tivoli.dk/"
    ><img src="../public/sponsors/tivoli.svg" alt="" /></a
  >
  <a href="https://royalunibrew.dk/"
    ><img src="../public/sponsors/unibrew.svg" alt="" /></a
  >
  <a href="https://vnr.tv/"> <img src="../public/sponsors/vnr.svg" alt="" /></a>
  <slot />
</article>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
</style>
