---

---

<article class="grid">
  <a href="https://www.kk.dk/">
    <img src="/CLF11/sponsors/kbh_kommune.svg" alt="" /></a
  >
  <a href="https://www.stromma.com/da-dk/kobenhavn/"
    ><img src="/CLF11/sponsors/stromma.svg" alt="" /></a
  >
  <a href="https://www.tivoli.dk/"><img src="/CLF11/sponsors/tivoli.svg" alt="" /></a>
  <a href="https://royalunibrew.dk/"
    ><img src="/CLF11/sponsors/unibrew.svg" alt="" /></a
  >
  <a href="https://vnr.tv/"> <img src="/CLF11/sponsors/vnr.svg" alt="" /></a>
  <slot />
</article>

<style>
  @media only screen and (min-width: 646px){
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    
  }
  @media only screen and (max-width: 646px){
    .grid {
      display: flex;
      justify-content: space-between;
    }
    img {
      width: 64px;
      margin: 2vw;
    }
  }
</style>
