---
import Burgermenu from "./Burgermenu.astro";
import Lang from "./Lang.astro";
---

<div>
    <a href="/">  <img src="../../public/img/logo.svg" alt="logo"></a>
  <Burgermenu />
</div>

<style>
  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: smaller;
  }

  img {
    width: 190px;
  }
</style>
