---
import Burgermenu from "./Burgermenu.astro";
import Lang from "./Lang.astro";
---

<div>
  <a href="/"> <img src="/img/logo.svg" alt="logo" /></a>
  <Burgermenu />
</div>

<style>
  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: smaller;
    padding: 2rem 2rem;
  }

  img {
    width: 190px;
  }

  @media only screen and (max-width: 646px) {
    div {
      padding: 2rem 2rem;
    }
    img {
      object-fit: cover;
      width: 70%;
      max-width: 190px;
    }
  }
</style>
