---
const { variant, size } = Astro.props;
---

<a class={variant + " " + size}>
  <div class="white-grad">
    <slot />
    <div class="ellipse_container">
      <img src="../public/assets/Arrow.svg" alt="Pil" />
      <div class="ellipse"></div>
    </div>
  </div>
</a>

<style>
  a {
    display: flex;
    justify-content: start;
  }
  .ellipse_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  img {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition-duration: 0.2s;
    z-index: 10;
  }
  .ellipse {
    width: 68px;
    height: 68px;
    border-radius: 100px;
    background-image: var(--CallToAction-color);
    transition-duration: 0.2s;
    z-index: 5;
  }
  a:hover > {
    width: 311px;
  }
  .parent {
    display: flex;
    flex-wrap: wrap;

    gap: 1rem;
    background-color: rgb(122, 117, 139);
  }

  .text {
    color: #ffffff;
    font-size: 2.5rem;
    padding: 0.5% 6% 0.5% 1.5%;
    display: inline-block;
    margin: 75px 0;
    z-index: 6;
    border-radius: 40px;
  }
  .white-grad {
    background: rgba(0, 185, 181, 0.2);
    backdrop-filter: blur(2px);
    color: #ffffff;
    font-size: 2.5rem;
    padding: 0.2% 0% 0.2% 2.5%;
    text-align:center;
    align-items: center;
    display: flex;
    margin: 75px 0;
    z-index: 0;
    border-radius: 40px;
  }
  .white-grad:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 4px;
    border-radius: 200px;
    background: var(--CallToAction-color);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
</style>
