---
import "../styles/global.css";
import Purchase from "../components/Purchase.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
import Icons from "../components/Icons.astro";
const { item } = Astro.props;
---

<Mainlayout>
  <img src="/CLF11/img/event.avif" alt="" />
  <div class="grid_1_1">
    <div>
      <h1>{item.title}</h1>
      <h2>Copenhagen Light Festival</h2>
      <Icons header="Nordre Kapel, Vestre Kirkegård">
        <img class="icon" src="/CLF11/icons/icon_sted.svg" alt="Lokation" />
      </Icons>
      <Icons header="Dansk">
        <img class="icon" src="/CLF11/icons/icon_sprog.svg" alt="Globe" />
      </Icons>
      <Icons header="1 time">
        <img class="icon" src="/CLF11/icons/icon_tid.svg" alt="Ur" />
      </Icons>
    </div>
    <div>
      <Purchase />
    </div>
    <div class="container">
      <h3>PANELDEBAT OM LYS OG MØRKE I BYEN</h3>
      <p>
        Hvad kan lys og mørke i byen? Mørket kan give ro, skærme af, fremhæve
        detaljer, eller skabe en visuel illusion, afhængigt af hvordan det
        bruges. Lys kan have en positiv effekt på tryghed og sikkerhed i
        byrummet, men en overdrivelse af lys kan også skabe et ubehageligt og
        forstyrrende miljø.
      </p>
    </div>
    <div class="container">
      <h3>VESTRE KIRKEGÅRD</h3>
      <p>
        Vestre Kirkegård er et unikt og mørkt sted i byen, der både skaber rum
        for almindelige kirkegårdsaktiviteter, pusterummet i hverdagen eller
        pendlerruten på tværs. Hvordan forener man arbejdet med lys på dette
        særlige sted i byen?
      </p>
    </div>
    <div class="container">
      <h3>PANELET BESTÅR AF</h3>
      <p>
        Direktør for Copenhagen Light Festival Jesper Garde Kongshaug <br />
        Københavns Kommunes stadsarkitekt Camilla van Deurs <br />
        Kirkegårdsvejleder fra Købehavns Kommune Stine Helweg <br />
        Kunsthistoriker og lyskunster Helle Frøjk Knudsen
      </p>
    </div>
    <div class="container">
      <h3>PRAKTISK INFORMATION</h3>
      <p>
        Onsdag den 22. februar klokken 19:30 mødes vi i Nordre Kapel på Vestre
        Kirkegård til en samtale om lys og mørke i byen. <br />
        Arrangementet er gratis og vi serverer lidt at drikke.
      </p>
    </div>
  </div>
</Mainlayout>

<style>
  .kunstner {
    border-radius: 30px;
  }

  img {
    width: 100%;
  }

  .icon {
    width: 4%;
  }

  a,
  p {
    font-size: 1rem;
    padding: 0 0 2em;
    font-weight: 100;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    color: var(--text-color);
    text-decoration: none;
  }

  @media only screen and (max-width: 767px) {
    .grid_1_1 {
      display: grid;
      justify-items: center;
      column-gap: 5rem;
      grid-template-columns: 1fr;
      margin: 4vw 7vw;
    }
  }
  @media only screen and (min-width: 767px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 7vw 10vw;
      gap: 20vw;
      row-gap: 5vw;
    }

    .grid_1_1 {
      display: grid;
      justify-items: center;
      column-gap: 5rem;
      grid-template-columns: 1fr 1fr;
      margin: 4vw 7vw;
    }

    .container {
      width: 100%;
    }
  }
</style>
