---
import "../styles/global.css";
import Label from "../components/Label.astro";
import Purchase from "../components/Purchase.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
import Icons from "../components/Icons.astro";
const { item } = Astro.props;
---

<Mainlayout>
  <img src="/CLF11/img/guidedetur.avif" alt="" />
  <div class="grid_1_1">
    <div>
      <h1>{item.title}</h1>
      <h2>Copenhagen Light Festival</h2>
      <Icons header="Søren Kierkegaards Pl. 1, 1221 København K">
        <img class="icon" src="/CLF11/icons/icon_sted.svg" alt="" />
      </Icons>
      <Icons header="Dansk">
        <img class="icon" src="/CLF11/icons/icon_sprog.svg" alt="" />
      </Icons>
      <Icons header="2 timer">
        <img class="icon" src="/CLF11/icons/icon_tid.svg" alt="" />
      </Icons>
      <Label text={item.tag} />
    </div>
    <div>
      <Purchase />
    </div>
  </div>
  <div class="grid-container">
    <div class="container">
      <h3>WINE AND WALK</h3>
      <p>
        Det er weekend, det er friskt i luften, hvordan oplever vi København
        bedst? Lysfestivalen, en stemningsfyldt rundtur & vinsmagning!
        Lysfestivalen skal ikke bare ses, den skal mærkes og nydes… At den
        tilmed smager godt, det er jo bare lækkert!
      </p>
    </div>
    <div class="container">
      <h3>HVORNÅR?</h3>
      <p>
        Lørdag d. 03.02.24 kl. 17.00-19.00. Se billetlink <br />
        Lørdag d. 10.02.24 kl.17.00-19.00. Se billetlink <br />
        Lørdag d. 17.02.24 kl. 17.30-19.30. Se billetlink <br />
        Lørdag d. 24.02.24 kl. 17.30-19.30. Se billetlink <br />
        Søndag d. 25.02.24 kl. 17.30-19.30. Se billetlink
      </p>
    </div>
    <div class="container">
      <h3>HVAD ER INDKLUDERET?</h3>
      <p>
        Wine & Walk kombinerer Copenhagen Light Festival med en velsmagende
        omgang lørdags cava, hvidvin, rødvin og portvin fra Vinimondo. Kom med
        på en stemningsfyldt Social Tour gennem Copenhagen Light Festival, hvor
        der undervejs er fortællinger, vinsmagning og masser af stemning og højt
        humør.
      </p>
    </div>
    <div class="container">
      <h3>PRAKTISK INFORMATION</h3>
      <p>
        Startsted: Den Sorte Diamant, Søren Kierkegaards Plads 1, 1221 København <br
        />
        Pris: 250 kr pr deltager (inkl. moms) <br />
        Distance: ca 2,0 - 2,5 km <br />
        Slutsted: Havnegade/Broens Gadekøkken/Nyhavn/Kongens Nytorv <br />
        Finissage- d. 25.02.24 - Wine & Walk er en special søndags edition med masser
        af lækre bobler og et sidste glimt af lysværkerne. <br />
        Ved spørgsmål angående Wine & Walk kontakt:events@copenhageninsight.com
      </p>
    </div>
  </div>
</Mainlayout>

<style>
  @media only screen and (max-width: 767px) {
    .grid_1_1 {
      display: grid;
      justify-items: center;
      column-gap: 4rem;
      grid-template-columns: 1fr;
      margin: 4vw 7vw;
    }

    .grid-container {
      padding: 0 2em 4em;
    }
  }
  .kunstner {
    border-radius: 30px;
  }

  img {
    width: 100%;
  }

  .icon {
    width: 4%;
  }
  br {
    margin: 1em 0 0;
  }

  h3 {
    margin: 0 0 1em;
  }
  a,
  p {
    font-size: 1rem;
    padding: 0 0 2em;
    font-weight: 100;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    color: var(--text-color);
    text-decoration: none;
  }
  @media only screen and (min-width: 767px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 7vw 10vw;
      gap: 20vw;
      row-gap: 5vw;
    }

    .grid_1_1 {
      display: grid;
      justify-items: center;
      column-gap: 5rem;
      grid-template-columns: 1fr 1fr;
      margin: 4vw 7vw;
    }

    .container {
      width: 100%;
    }
  }
</style>
